/* Whole site general code */
body {
    background: #696969;
    color: #F0FFFF;
    font-family: "Times New Roman", Times, serif;
    margin: 50px, 20px, 50px, 20px;
}

/* index code */
/* resume code */
/* story code */
/* blog code */
/* contact code */
/* project code */


h1, h3 {
    font-weight: bold;
}

li.nav {
    display: inline;
}


#intro {
    font-size: 3em;
}
/* Contact Page */